{% extends 'login.html' %}



{% block nav_login %}{% endblock %}
{% block nav_join %}class="active"{% endblock %}

{% block form_action %}
{{ url_for('join_submit') }}
{% endblock %}

{% block form %}
<div class="form-group">
                    <label for="input-email">Email</label>
                    <input type="email" id="input-email"
                    name="email" class="form-control" placeholder="Email" autofocus required>
                </div>
                <div class="form-group">
                    <label for="input-password">Password</label>
                    <input type="password" class="form-control" id="input-password"
                    name="password" placeholder="Password" required>
                </div>
<div class="form-group">
    <label for="input-password-confirm">Confirm password</label>
    <input type="password" class="form-control" id="input-password-confirm" placeholder="Confirm password" 
    name="password-confirm" required>
</div>

<div class="form-group">
    <label for="input-username">Username</label>
    <input type="text" class="form-control" id="input-username" 
    name="username" placeholder="Username" required>
</div>

<div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="gender" value="F" checked> Female
  </label>
  <label class="radio-inline">
      <input type="radio" name="gender" value="M"> Male
  </label>
</div>
<div class="form-group">
    <label for="input-mobile">Phone</label>
    <input type="text" class="form-control" id="input-mobile" 
    name="mobile" placeholder="Phone" required>
</div>
<div class="form-group">
    <label for="input-birthday">Birthday</label>
    <input type="date" class="form-control" id="input-birthday"  name="birthday" required>
</div>

{% endblock %}


{% block footer %}
<script src="{{ url_for('static', filename='js/join.js') }}"></script>

{% endblock %}