@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


body {
    padding-top:70px;
    padding-bottom:50px;
    font-family:"Nanum Gothic";
   
}


* {
    border-radius: 0px !important;
}